<div class="small-12 columns">
    <div class="small-12 medium-4 large-4 columns">
        <div class="block-component">
                <h3 style="margin-bottom: 10px;">Счета (3)</h3>
                <select>
                    <option value="husker">Группа</option>
                    <option value="starbuck">Компания №123</option>
                    <option value="hotdog">Компания №1667</option>
                    <option value="apollo">Компания №9123</option>
                </select>

            <div style="font-family: robotoRegular;"><!--
                <div class="panel clearfix">
                    <a class="left">Acme Inc</a>
                    <span style="float: right!important;">$512.998</span>
                </div>
                <div class="panel clearfix">
                    <a class="left">Widget Corp</a>
                    <span style="float: right!important;">$102.998</span>
                </div>
                <div class="panel clearfix">
                    <a class="left">123 warehousing</a>
                    <span style="float: right!important;">$71.232</span>
                </div>
                -->
                <hr>
                <div style="margin-bottom: 20px">
                    <a>Компания №123</a> <span style="float: right !important; color: #6c7383">345,333 руб</span>
                </div>
                <hr>
                <div style="margin-bottom: 20px">
                    <a>Компания №1667</a> <span style="float: right !important; color: #6c7383">65,390 руб</span>
                </div>
                <hr>
                <div style="margin-bottom: 20px">
                    <a>Компания №9123</a> <span style="float: right !important; color: #6c7383">120,390 руб</span>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="small-12 medium-8 large-8 columns">
        <div class="block-component">
            <div class="inner-accounts">
                <div class="tabs" style="margin-top: 20px;">
                    {{#if customer}}
                        <ul class="inner-tabs">
                            <li><a href="#accounts/new" style="padding-top: 20px; border-top-left-radius: 9px; border-bottom-left-radius: 9px;">Новые</a></li>
                            <li><a href="#accounts/aprove">Подтвержденные<br/> поставщиком</a></li>
                            <li><a href="#accounts/resolve" style="padding-top: 20px;">Финализированные</a></li>
                        </ul>
                    {{else}}
                        <ul class="inner-tabs">
                            <li><a href="#accounts/new" style="padding-top: 20px; border-top-left-radius: 9px; border-bottom-left-radius: 9px;">Новые</a></li>
                            <li><a href="#accounts/aprove" style="padding-top: 20px;">Подтвержденные</a></li>
                            <li><a href="#accounts/resolve" style="padding-top: 20px;">Финализированные</a></li>
                        </ul>
                    {{/if}}
                </div>

                <div id="accountContainer" class="panel">
                </div>
            </div>
        </div>
    </div>
</div>
