<table>
    <thead>
    <tr>
        <th style="position: relative; top: 6px;"><input type="checkbox"></th>
        <th class='sortable' on-click='sort:supplierId'>Id поставщика</th>
        <th class='sortable' on-click='sort:accountNumber'>Номер счёта</th>
        <th class='sortable' on-click='sort:money'>Сумма платежа</th>
        <th class='sortable' on-click='sort:discount'>Дисконт</th>
    </tr>
    </thead>
    <tbody>
    {{#each sort( accounts, sortColumn ) :num}}
    <tr>
        <td><input style="position: relative; top: 6px;"
                   type="checkbox" checked='{{selected}}' on-change="selectAccount"></td>
        <td>{{supplierId}}</td>
        <td><a href='#accounts/{{accountNumber}}'>{{accountNumber}}</a></td>
        <td>{{money}}</td>
        <td>{{discount}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>