<div class="dashboard-wrapper clearfix">
    <div class="small-8 columns">
        <div class="small-12">
            <h3>Notification</h3>
            <ul>
                <li class="callout primary">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </li>
                <li class="callout alert">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </li>
                <li class="callout warning">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                </li>
            </ul>
            <div class="button-group">
                <a href="#notifications" class="button btn-info">Show more ></a>
            </div>
        </div>
        <div class="small-12">
            <h3>Accounts</h3>
            <div class="accounts-wrapper">

            </div>
            <div class="button-group">
                <a href="#accounts/new" class="button btn-info">Show more ></a>
            </div>
            <div class="js-grid"></div>
        </div>
    </div>
    <div class="small-4 columns">
        <h3>History</h3>
    </div>
</div>