<div class="dashboard-wrapper clearfix">
    <div class="small-12 small-medium-12 medium-8 columns">
        <div class="small-12 small-centered clearfix">
            <div class="large-6 medium-6 small-12 columns">
                <div class="small-12 small-centered block-component notification-component">
                    <h3>Уведомления<div class="label-count">23</div></h3>
                    <ul>
                        <li class="callout primary">
                            Есть новые предложения от поставщиков, ожидающие подтверждения
                        </li>
                        <li class="callout alert">
                            Получено сообщение от поставщика ООО «ЗаботаПлюс»
                        </li>
                    </ul>
                    <div class="button-group">
                        <a href="#notifications" class="button btn-info">Перейти >></a>
                    </div>
                </div>
            </div>
            <div class="large-6 medium-6 small-12 columns">
                <div class="small-12 small-centered block-component clearfix">
                    <div class="small-12 medium-12 large-6 columns">
                        <h3 style="text-align: center">Общая сумма выплат</h3>
                        <div class="cash-number">
                            <b>345,333 руб.</b>
                            <small>13, 544 счетов</small>
                        </div>
                    </div>
                    <div class="small-12 medium-12 large-6 columns">
                        <h3 style="text-align: center">Прибыль</h3>
                        <div class="cash-number">
                            <b>23,119 руб.</b>
                            <small>9,45% средняя скидка</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 small-centered clearfix">
            <div class="small-12 columns">
                <div class="small-12 block-component accounts-component small-centered">
                    <h3>Новые предложения</h3>
                    <div class="accounts-wrapper">

                    </div>
                    <div class="button-group">
                        <a href="#accounts/new" class="button btn-info">Перейти >></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="small-12 small-centered clearfix">
            <div class="small-12 columns">
                <div class="small-12 block-component small-centered">
                    <h3>График</h3>
                    <div id="container" style="min-width: 310px; height: 400px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="small-12 small-medium-12 medium-4 columns">
        <div class="small-12 small-centered clearfix">
            <div class="small-12 columns">
                <div class="small-12 small-centered block-component">
                    <h3>Статистика</h3>
                    <div id="accountsPie" class="pie-chart-vendors">

                    </div>

                    <div id="discountPie" class="pie-chart-vendors">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>