<div class="small-12 clearfix block-component">
    <div class="small-12 medium-12 large-4 columns">
        <h3>Новые счета</h3>
    </div>
    <div class="small-12 medium-12 large-8 columns">
        <div class="free-cash">
            <b>Свободные денежные средства: </b>
            <span>123.000 руб.</span>
        </div>
    </div>
    <div class="small-4 columns">
        <a href="#accounts/new" class="button btn-info">Загрузить счета</a>
    </div>
    <div class="small-8 columns">
        <input type="text" placeholder="Поиск по:"/>
    </div>
    <div class="small-12 columns">
        <div class="js-grid"></div>
    </div>
    <div class="small-4 columns">
        <a href="#accounts/new" class="button btn-info">Предоставить скидку</a>
    </div>
    <div class="small-4 columns">
        <a href="#accounts/new" class="button btn-info">Удалить</a>
    </div>
</div>
