<div class="inner-notifications">
    <div class="small-12 columns">
        <div class="small-12 small-centered block-component notification-component">
            <ul>
                <li class="callout primary">
                    Есть новые предложения от поставщиков, ожидающие подтверждения
                </li>
                <li class="callout alert">
                    Получено сообщение от поставщика ООО «ЗаботаПлюс»
                </li>

                <li class="callout primary">
                    Есть новые предложения от поставщиков, ожидающие подтверждения
                </li>
                <li class="callout warning">
                    Есть новые предложения от поставщиков, ожидающие подтверждения
                </li>
                <li class="callout primary">
                    Получено сообщение от поставщика ООО «ЗаботаПлюс»
                </li>
                <li class="callout alert">
                    Есть новые предложения от поставщиков, ожидающие подтверждения
                </li>
                <li class="callout warning">
                    Получено сообщение от поставщика ООО «ЗаботаПлюс»
                </li>

            </ul>
        </div>
    </div>
</div>