{{#accountToken}}
<div class="inner-header clearfix">
    <div class="large-3 medium-3 small-12 columns">

        <div class="brand">
            <!--
            <h3>KPMG</h3>
            -->
            <img style="height: 35px;" src="app/images/KPMG-logo.png">
            <h4 class="subheader">Казначейская платформа</h4>
        </div>

    </div>
    <div class="small-12 show-for-small-only account-header">
        <b class="accountName">Здравствуйте, {{loginName}}</b>
        <a href="javascript:void(0)" on-click="logout">Выйти</a>
    </div>
    <div class="large-6 medium-5 small-12 columns">

        <nav class="main-menu main-menu-large show-for-large">
            <a href="#dashboard">Инфопанель</a>
            <a href="#accounts">Счета</a>
            <a href="#notifications">Уведомления</a>
        </nav>
        <nav class="main-menu main-menu-medium show-for-medium-only">
            <a href="#dashboard">Инфопанель</a>
            <a href="#accounts">Счета</a>
            <a href="#notifications">Уведомления</a>
        </nav>
        <nav class="main-menu main-menu-small show-for-small-only">
            <a href="#dashboard">Инфопанель</a>
            <a href="#accounts">Счета</a>
            <a href="#notifications">Уведомления</a>
        </nav>

    </div>
    <div class="large-3 medium-4 small-12 columns account-header show-for-medium" style="line-height: 69px;">
        <!--
            <b class="accountName">Здравствуйте, {{loginName}}</b>
        <a href="javascript:void(0)" on-click="logout">Выйти</a>
        -->
        <img style="height: 48px; top:10px; position: absolute;" src="app/images/q1.png">
        <span style=" color: white; margin-left: 55px; cursor: pointer;">{{loginName}}</span>
        <span style=" color: white; margin-left: 55px; cursor: pointer;" on-click="logout">Выйти</span>
    </div>
</div>
{{/accountToken}}