<div class="inner-header clearfix">
    <div class="small-3 columns">
        {{#accountToken}}
        <div class="brand">
            <h3>Logo</h3>
            <h4 class="subheader">Company</h4>
        </div>
        {{/accountToken}}
    </div>
    <div class="small-6 columns">
        {{#accountToken}}
        <nav class="main-menu">
            <a href="#dashboard">Dashboard</a>
            <a href="#accounts">Accounts</a>
            <a href="#responses">Responses</a>
            <a href="#notifications">Notifications</a>
        </nav>
        {{else}}

        {{/accountToken}}
    </div>
    <div class="small-3 columns">
        {{#accountToken}}
        <b>Login name</b>
        <a href="javascript:void(0)" on-click="logout">Exit</a>
        {{/accountToken}}
    </div>
</div>